<div class="modal-header bg-primary text-white">
  <h5 class="modal-title display-4" *ngIf="true">Edit info</h5>
</div>
<div class="modal-body">
  <form [formGroup]="accountForm" novalidate>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="firstName" class="col-form-label">First name</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName" (keyup)="onInputChange($event)">  
        <small class="form-text text-danger" *ngIf="this.accountForm.controls['firstName'].hasError('required') && this.accountForm.controls['firstName'].touched">First name is required!</small>                        
        <small class="form-text text-white" *ngIf="!this.accountForm.controls['firstName'].hasError('required') || this.accountForm.controls['firstName'].untouched">First name required!</small>                                
      </div>
      <div class="form-group col-md-12">
        <label for="lastName" class="col-form-label">Last name</label>
        <input type="text" class="form-control"  id="lastName" formControlName="lastName" (keyup)="onInputChange($event)"> 
        <small class="form-text text-danger" *ngIf="this.accountForm.controls['lastName'].hasError('required') && this.accountForm.controls['lastName'].touched">Last name is required!</small>                        
        <small class="form-text text-white" *ngIf="!this.accountForm.controls['lastName'].hasError('required') || this.accountForm.controls['lastName'].untouched">Last name is required!</small>                                                                   
      </div>
      <div class="form-group col-md-12">
        <label for="email" class="col-form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" (keyup)="onInputChange($event)">
        <small class="form-text text-danger" *ngIf="this.accountForm.controls['email'].hasError('emailTaken')">Email already in use!</small>
        <small class="form-text text-danger" *ngIf="this.accountForm.controls['email'].hasError('required') && this.accountForm.controls['email'].touched">Email is required!</small>                        
        <small class="form-text text-danger" *ngIf="!this.accountForm.controls['email'].hasError('required') && this.accountForm.controls['email'].hasError('email')">Please enter a valid email password!</small>                        
        <small class="form-text text-white" *ngIf="!this.accountForm.controls['email'].hasError('required') || this.accountForm.controls['email'].untouched">Email is required!</small>                                                              
      </div>
      <div class="form-group col-md-12">
        <label for="password" class="col-form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password" (keyup)="onInputChange($event)">        
        <small class="form-text text-danger" *ngIf="this.accountForm.controls['password'].hasError('required') && this.accountForm.controls['password'].touched">Password is required!</small>                        
        <small class="form-text text-secondary">Leave empty if you don't want to change password</small>                                                                                      
      </div>
    </div> 
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="activeModal.close(false)">Cancel</button>
  <button type="button" class="btn btn-outline-primary" (click)="saveChanges()" [disabled]="accountForm.invalid || !changedInput">Save</button>  
</div>