<div class="container bg-white" style="height:100%;">
    <h4 class="display-4">Register</h4>
    <p class="lead">Please enter your credentials.</p>

    <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="row"  *ngIf="showError">
            <div class="col">
              <ngb-alert type="danger" (close)="showError = !showError">
                <i class="fa fa-lock"></i> Krivi korisnički podaci
              </ngb-alert>
            </div>
          </div>
          <div class="row" *ngIf="!showError">
            <div class="col">
              <div style="height: 66px;"></div>
            </div>
          </div>
          <div class="card w-100 p-3">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="employeeName" class="col-form-label">First name</label>
                    <input type="text" 
                          class="form-control" 
                          id="firstName" 
                          formControlName="firstName"
                          placeholder="First name">  
                    <small class="form-text text-danger" *ngIf="this.userForm.controls['firstName'].hasError('required') && this.userForm.controls['firstName'].touched">First name is required!</small>                        
                    <small class="form-text text-white" *ngIf="!this.userForm.controls['firstName'].hasError('required') || this.userForm.controls['firstName'].untouched">First name required!</small>
                    <small class="form-text text-white" *ngIf=""></small>                         
                  </div>
                  <div class="form-group col-md-12">
                      <label for="employeeName" class="col-form-label">Last name</label>
                      <input type="text" 
                            class="form-control" 
                            id="lastName" 
                            formControlName="lastName"
                            placeholder="Last name"> 
                      <small class="form-text text-danger" *ngIf="this.userForm.controls['lastName'].hasError('required') && this.userForm.controls['lastName'].touched">Last name is required!</small>                        
                      <small class="form-text text-white" *ngIf="!this.userForm.controls['lastName'].hasError('required') || this.userForm.controls['lastName'].untouched">Last name is required!</small>                                                                   
                    </div>
                    <div class="form-group col-md-12">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="email"
                              class="form-control" 
                              id="email"
                              formControlName="email"
                              placeholder="Email">
                        <small class="form-text text-danger" *ngIf="this.userForm.controls['email'].hasError('emailTaken')">Email already in use!</small>
                        <small class="form-text text-danger" *ngIf="this.userForm.controls['email'].hasError('required') && this.userForm.controls['email'].touched">Email is required!</small>                        
                        <small class="form-text text-danger" *ngIf="!this.userForm.controls['email'].hasError('required') && this.userForm.controls['email'].hasError('email')">Please enter a valid email!</small>                        
                        <small class="form-text text-white" *ngIf="!this.userForm.controls['email'].hasError('required') || this.userForm.controls['email'].untouched">Email is required!</small>
                      </div>
                      <div class="form-group col-md-12">
                          <label for="employeeLastname" class="col-form-label">Password</label>
                          <input type="password" 
                                class="form-control" 
                                id="password" 
                                formControlName="password"
                                placeholder="Password">        
                          <small class="form-text text-danger" *ngIf="this.userForm.controls['password'].hasError('required') && this.userForm.controls['password'].touched">Password is required!</small>                        
                          <small class="form-text text-white" *ngIf="!this.userForm.controls['password'].hasError('required') || this.userForm.controls['password'].untouched">Password is required!</small>                                                                                      
                        </div>    
                        <div class="form-group col-md-12">
                            <label for="employeeLastname" class="col-form-label">Confirm Password</label>
                            <input type="password" 
                                  class="form-control" 
                                  id="confirmPassword" 
                                  formControlName="confirmPassword"
                                  placeholder="Confirm Password">
                            <small class="form-text text-danger" *ngIf="this.userForm.controls['confirmPassword'].hasError('required') && this.userForm.controls['confirmPassword'].touched">Confirm password</small>                        
                            <small class="form-text text-danger" *ngIf="this.userForm.controls['confirmPassword'].hasError('invalid') && !this.userForm.controls['confirmPassword'].hasError('required')">Please re-type the same password.</small>   
                            <small class="form-text text-white" *ngIf="(!this.userForm.controls['confirmPassword'].hasError('required') || this.userForm.controls['confirmPassword'].untouched) && !(this.userForm.controls['confirmPassword'].hasError('invalid') && !this.userForm.controls['confirmPassword'].hasError('required'))">Password is required!</small>                                                                                                                
                          </div>                   
                </div>              
              <div class="row">
                <div class="col">
                  <div class="d-flex">
                      <button class="btn btn-outline-info ml-auto" [disabled]="userForm.invalid">
                          Register
                      </button>    
                  </div>
                </div>
              </div> 
    
            </form>
          </div>
          <div class="row">
            <div class="col">
              <div style="height: 66px;"></div>
            </div>
          </div>      
        </div>
      </div>    

  </div>