<div class="container bg-white" style="height:100%;">
    <h4 class="display-4">Login</h4>
    <p class="lead">Please enter your credentials.</p>

    <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="row"  *ngIf="showError">
            <div class="col">
              <ngb-alert type="danger" (close)="showError = !showError">
                <i class="fa fa-lock"></i> Krivi korisnički podaci
              </ngb-alert>
            </div>
          </div>
          <div class="row" *ngIf="!showError">
            <div class="col">
              <div style="height: 66px;"></div>
            </div>
          </div>
          <div class="card w-100 p-3">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="employeeName" class="col-form-label">Email</label>
                  <input type="email" 
                        class="form-control" 
                        id="username" 
                        formControlName="email"
                        placeholder="Email">        
                  <small class="form-text text-danger" *ngIf="this.userForm.controls['email'].hasError('required') && this.userForm.controls['email'].touched">Email is required!</small>                        
                  <small class="form-text text-white" *ngIf="!this.userForm.controls['email'].hasError('required') || this.userForm.controls['email'].untouched">Email is required!</small>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="employeeLastname" class="col-form-label">Password</label>
                  <input type="password" 
                        class="form-control" 
                        id="password" 
                        formControlName="password"
                        placeholder="Lozinka">        
                        <small class="form-text text-danger" *ngIf="this.userForm.controls['password'].hasError('required') && this.userForm.controls['password'].touched">Password is required!</small>                        
                        <small class="form-text text-white" *ngIf="!this.userForm.controls['password'].hasError('required') || this.userForm.controls['password'].untouched">Password is required!</small>
                </div>    
              </div>
              <div class="row">
                <div class="col">
                  <div class="d-flex">
                      <button class="btn btn-outline-info ml-auto" [disabled]="userForm.invalid">
                          Login
                      </button>    
                  </div>
                </div>
              </div> 
    
            </form>
          </div>
          <div class="row">
            <div class="col">
              <div style="height: 66px;"></div>
            </div>
          </div>      
        </div>
      </div>    

  </div>