<div class="modal-header bg-primary text-white">
  <h4 class="modal-title display-4" *ngIf="true">New file upload</h4>
</div>
<div class="modal-body">
<form [formGroup]="fileForm" novalidate>
  <div class="form-row">
    <div class="form-group col-12">
      <label for="file" class="col-form-label">File</label>
      <input type="file"
            (change)="onFileChange($event)"
            class="form-control" 
            placeholder="File">        
    </div>
  </div>
</form>
<p *ngIf="uploadInProgress"><ngb-progressbar type="info" [value]="progressBarValue"></ngb-progressbar></p>  
</div>
<div class="modal-footer">
<button type="button" class="btn btn-outline-danger" (click)="activeModal.close(false)">Cancel</button>
<button type="button" class="btn btn-outline-primary" (click)="uploadFile()" [disabled]="fileForm.invalid">Upload</button>
</div>