<div class="container bg-white" style="height:100%;">
  <h4 class="display-4">Account</h4>
  <p class="lead">Manage your credentials here</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><img [src]="user.gravatarUrl" alt="User's gravatar"></li>
    <li class="list-group-item">First name: {{ user.firstName }}</li>
    <li class="list-group-item">Last name: {{ user.lastName }}</li>
    <li class="list-group-item">Email: {{ user.email }}</li>
  </ul>
  <div class="row p-3">
    <div class="col">
      <button class="btn btn-outline-secondary" (click)="openEditCredentialsdModal()">
        Edit info
      </button>
    </div>
  </div>
</div>